<!-- sidebar.js에서 내용을 추가하고, CSS에서 스타일링 -->
<body>
<div>
<div id="customSidebar" class="sidebar">
    <div class="sidebar-content">
        <h2>내 정보</h2>
        <ul>
            <li><a href="#" id="settingLink">닉네임</a></li>
            <!-- 추가적인 사이드바 메뉴 항목 -->
        </ul>
    </div>
    <div id="sidebar-user-setting" class="sidebar-panel">
        <input type="text" id="nicknameInput" placeholder="닉네임 입력">
        <a id="editsubnickname" class="button-link">수정</a>
    </div>


</div>
</div>
<script src="/js/sidebar.js"></script>
</body>